{% extends "base.html" %}

{% block content %}
<!--
{% block header %}
{{super()}}
{% endblock %} -->

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="/">Rumah</a> </li>
                    <li class="breadcrumb-item active"><a href="/info">Info</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Kamus Melayu Dewan 4</h1>
                Untuk tujuan rujukan dan penyelidikan sahaja. Tiada nilai komersial.
            </div>

        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.melayu.label }}<br>
                {{ form.melayu(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if guest2 %}
                <h1 class="">Tiada Entri:</h1>
                <ol>
                    <h2>Semakan entri:</h2>
                    {% for g in guest2 %}
                    <li>{{g}}</li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if melayu %}
                <h1 class="">Kata Melayu</h1>
                <p class="text-monospace">
                    <li>{{melayu}}</li>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="">Definisi</h1>
                <lo>
                    {% for i in d %}
                    <p class="text-monospace">
                        <li>{{i}}</li>
                    </p>
                    {% endfor %}
                </lo>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if l %}
            <h3>Kata Berkaitan:</h3>
            <p size="+4" class="text-monospace">
            <ol>
                {% for w in l %}
                <p class="text-monospace">
                    <li>{{w}}</li>
                    </li>
                </p>
                {% endfor %}
            </ol>
            {% endif %}
            </p>
        </div>
    </div>
</div>

<div class="container">
    Penghargaan: Dewan Bahasa Pustaka. Data berasaskan Kamus Melayu Dewan 4.
</div>
<div class="container">
    {% block footer %}
    &copy; Copyright 2020 by zamri@ukm.edu.my</a>.
    {% endblock %}
</div>


{% endblock %}


{# all output in block content #}
