{% extends "base.html" %}

{% block content %}

<!-- {% block header %}
{{super()}}
{% endblock %}
<br><br><br> -->

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="/">Rumah</a> </li>
                    <li class="breadcrumb-item active"><a href="/info">Info</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <lo>
        <li>Data: Kamus Melayu Dewan 4 : 2015</li>
        <li>Python 3.8</li>
        <li>versi 29-8-2020</li>
        <li>Tiada niat untuk melanggar sebarang hak cipta.
        <li>
            Rujuk
            Kamus Melayu Dewan 4 cetakan DBP untuk maklumat
            yang lebih terkini.
        </li>
        <li>Untuk tujuan penyelidikan sahaja. Tiada nilai komersial.</li>
        <li>source code
            <a href="https://github.com/mohdzamrimurah/kamusmelayu.git">github</a></li>
        <li>Hubungi: zamri@ukm.edu.my</li>

    </lo>

    <h1>Sumber penyelidikan NLP Melayu/Malay</h1>
    <lo>
        <li>Bahan2 NLP Melayu di github</li>
        <a href="https://github.com/search?q=Malay">Cari bahan Malay</a>
        <li>https://malaya.readthedocs.io/en/latest/</li>
    </lo>
</div>

{% endblock %}
